.footer-wrapper{
    background-color: #000;
    font-family: $font-primary;
    color: #fff;
    padding: 2rem 0;
    a{
        color: #fff;
       
    }
    .footer-main{
        ul{
            li{
                text-align: center;
            }
            li:not(:last-child){
                margin-bottom: 6px;
            }
        }
    }
    .footer-copyright{
        &__inner{
            display: flex;
            justify-content: center;
        }
        @include Responsive (PHONE){
            text-align: center;
        }
        p{
            margin-bottom: 0;
        }
    }
}

@include Responsive(PHONE){
    .footer-main{
        .accordion {
            background-color: transparent;
            cursor: pointer;
            width: 100%;
            border: none;
            text-align: left;
            outline: none;
            transition:  all 0.4s ease;
            -webkit-transition:  all 0.4s ease;
            -moz-transition:  all 0.4s ease;
            -ms-transition:  all 0.4s ease;
            -o-transition:  all 0.4s ease;
        }
          .active, .accordion:hover {
            background-color: transparent;
          }
          
          .accordion:after {
            content: '\002B';
            font-weight: bold;
            float: right;
            margin-left: 5px;
          }
          
          .active:after {
            content: "\2212";
          }
          
          .accorlist {
            padding: 0 1rem;
            background-color:transparent;
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.2s ease-out;
          }
    }
}


